.Panel {
    display: flex;
    flex-direction: row;
}


.arrow {
    border: solid black;
    border-width: 0px 10px 10px 0px;
    width: 5px;
    height: 5px;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .PanelLayout {
      display: flex;
      flex-direction: column;
  }